		<nav class="navbar navbar-expand-md my-nav">
			<div class="container-fluid">
				<div class="navbar-header">
					<button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-principal" aria-expanded="false" >
						<span class="fa fa-book my-icon"></span>
					</button>
					<a href="/home" class="navbar-brand"><span class="my-logo-font">toStudents</span></a>
				</div>
				<div class="collapse navbar-collapse" id="navbar-principal">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="/home">
								<span class="my-mid-font">
									Home
								</span>
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/disciplina">
								<span class="my-mid-font">
									Disciplinas
								</span>
							</a>
						</li>
					</ul>

				</div>
			</div>
		</nav>